# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.metadata
pubspec.lock

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.jks
*.keystore

# IDE
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
